<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.PictureDAO">
	<!--查询所有-->
	<select id="selectAll"  resultType="picture">
		select id,title,name,type from picture limit #{start},#{rows}
	</select>
	<!--查询一个-->
	<select id="selectById" parameterType="string" resultType="picture">
		select id,title,name,type from picture where id=#{id}
	</select>
	<!--添加-->
	<insert id="insert" parameterType="picture">
		insert into picture values(#{id},#{title},#{name},#{type})
	</insert>
	<!--删除-->
	<delete id="delete" parameterType="string">
		delete from picture where id=#{id}
	</delete>
	<!--修改-->
	<update id="update" parameterType="picture">
		update picture set title=#{title},name=#{name},type=#{type} where id=#{id}
	</update>
	<!--数据总数-->
	<select id="selectCount" resultType="integer">
		select count(id) from picture
	</select>
</mapper>
